@import "fonts.scss";
@import "variablesmixin.scss";

body{
    @include nomnop;
}

@import "dekstop.scss";

@media screen and (max-width: 768px) /*and (handheld)*/ {


// ----------------- PAGE DE CONTACT
@import "contactmobile.scss";

// --------------------- HEADER ------------------
    @import "headermobile.scss";


// -----------------      ACTIVITE         -------------------------
// ------------ GENERAL
    main{
        display: flex;
        flex-direction: column;
        h2{
            color: $bleu;
            font-family: 'Montserrat semibold';
            text-transform: uppercase;
            font-size: 24px;
            text-align: center;
        }
    }
// ------------ VISITES    
    .visits{
        @include nomnop;

        .visits_container{
            @include nomnop;


// ------------- LES ELEMENTS li 
            .visit_element{
                @include nomnop;
                //transition-property: color;
                //transition-duration: 0.5s;
                &.ville_ext{
                    &:hover .visit_location{
                        color: $rosetxt ;
                    }
                    .visit_subtitle{
                        color: $rosetxt;
                    }
                    .fa-heart{
                        color:$rosetxt ;
                    }
                }
                &.ville_centre{
                    &:hover .visit_location{
                        color: $jaune;
                    }
                    .visit_subtitle{
                        color: $jaune;
                    }
                    .fa-heart{
                        color: $jaune;
                    }
                }
//----- QUAND EN SURVOL + ANIMATIONS  
                
                &:hover{
                    .visit_overview{
                        margin: 20px 20px 0 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: $grisfonce;
                        .visit_image{
                            display: block;
                            padding-top: 1rem;
                        }
                        figcaption{
                            align-self: flex-start;
                            order: -1;
                            .visit_title{
                                color: $blanc;
                            }
                        }
                    }
                    .visit_overview-description{
                        display: block;
                        .visit_title{
                            display: none;
                        }
                    }
                    .visit_overview-description{
                        margin: 0 20px 20px 20px;
                    }
                }

// --------------- PREMIERE PARTIE, FIGCAPTION, etc
                .visit_overview{
                    margin: 20px;
                    background-color:$grisfond;
                    padding: 1rem;
                    img{
                        display: none;
                        width: 75vw;
                        height: 75vh;
                    }
                    .visit_title{
                        color: $gristexte;
                        @include nomnop;
                        display: flex;
                        flex-direction: column;
                        font-family: 'Museo regular';
                        strong{
                            display: block;
                            @include nomnop;
                            font-family: 'Montserrat black';
                        }
                    }
                    .visit_location{
                        color: $bleu;
                        font-family: 'Montserrat medium';
                        @include nomnop;
                        margin-top:10px;
                    }
                }

// ---------------- DEUXIEME PARTIE, DESCRIPTION ET AUTRE
                .visit_overview-description{
                    display:none;
                    background-color: $grisfonce;
                    padding: 20px;
                   /* &.active{
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .visit_title{
                        color: $blanc;
                        @include nomnop;
                        display: flex;
                        flex-direction: column;
                        font-family: 'Museo regular';
                        strong{
                            display: block;
                            @include nomnop;
                            font-family: 'Montserrat black';
                        }
                    }*/
                    .visit_subtitle{
                        @include nomnop;
                        font-family: 'Montserrat medium';
                        }
                    }
                    .visit_description{
                        color: $blanc;
                        font-family: 'Montserrat medium';
                    }

// ------------------------    LIENS ET LIKE DE FIN                 
                    div{
                        display:flex;
                        justify-content: space-between;
                        .fa-heart::after{
                            content:'|';
                            font-size: 2em;
                            color: $blanc;
                            margin: 0 30vw;
                            
                        }
                        a{
                            text-decoration: none;
                            font-family:'Montserrat medium';
                            color: white;;
                        }
                    }
                    a{
                        display: float;
                        &[title~=savoir]{
                            display: none;
                        }
                    }
                    // un a dont l'attribut est "en savoir plus ..."
                }
            }
        }
    }



// ------------------------   BOUTON TICKET
    .visits_ticket{
        text-decoration: none;
        @include bouton-neutre-ombre();
        font-family: 'Montserrat semibold';
        font-size: 1.2rem;
        background-color: $bleu;
        text-transform: uppercase;
        padding: 20px 40px;
        color: $grisfonce;
        border-radius: 3px 3px 0 0;
        margin-top: 20px;
        align-self: center;
    }




// ------------------------  ENDPAGE
    .endpage{
        background-image: linear-gradient(0deg, rgba(40,51,59,0.7) 0%, rgba(40,51,59,0.7) 100%),url(src/images/fond-endapge-rochers-nuit-etoilee.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Montserrat regular';
        color: white;
        display: flex;
        flex-direction: column;


// ---------------- BOUTON SUITE
        .endpage_buttons{
            background-color: $grisfonce;
            box-shadow: 0px 0px 14px 2px rgba(255,255,255,0.4);
            border-radius: 0 0 3px 3px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 182px;
            min-width: 182px;
            align-self: center;
            padding: 5px;
            max-height: 30px ;
            .endpage_is{
                display:flex;
                width: 60px;
                justify-content: space-around;
                align-items: center;
                .visa{
                    background-image: url(src/images/card.svg);
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    display: block;
                }
                .paypal{
                    background-image: url(src/images/paypal.svg);
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    display: block;
                }
            }
            p{
                color: $bleu;
                span{
                    color: white;
                    font-weight: bold;
                }
            }
        }



// ------------------ FOOTER
        @import "footermobile.scss";
    }


