@import "fonts.scss";

$bleu:#00D8FF;
$rose:#D35B7E;
$grisfonce:#31424D;
$gristexte:#737B80;
$jaune:#d4ce9a;
$rosetxt:#f297b1;
$blanc:#D6D6D6;
$grismenu:#284e68;
$grisfond:rgb(236, 236, 236);
/*$rosegrad:rgba(244,152,179,0.18);
$bleucgrad:rgba(0,216,255,0.09);
$bleufgrad:rgba(40,51,59,0.1);
$grad-header:$rosegrad,$bleucgrad,$bleufgrad;
$gradient-rb:linear-gradient(0deg, rgba(244,152,179,0.18) 0%, rgba(0,216,255,0.09) 50%, rgba(40,51,59,0.1) 100%);
, linear-gradient(top,$grad-header)
*/

/*
p{
    font-family: 'Montserrat';
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Maven pro';
}
*/

@mixin bouton-neutre-ombre {
    border: none;
    box-shadow: 0px 0px 14px 2px rgba(40,51,59,0.9);
}

@mixin nomnop{
    margin: 0;
    padding: 0;
}

@mixin bg-degrade{
    background-image: linear-gradient(0deg, rgba(244,152,179,0.3) 0%, rgba(0,216,255,0.3) 40%, rgba(40,51,59,0.5) 80%),
    linear-gradient(0deg, rgba(40,51,59,0.7) 0%, rgba(40,51,59,0.7) 100%),
    url(src/images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    @include nomnop;
}

@media screen and (max-width: 800px) /*and (handheld)*/ {

    // --------------------- HEADER ------------------
    .banner{
        @include nomnop;
        height:600px;
        width: 100%;
        @include bg-degrade();
        background-position:right;
        div:first-child{
            display: flex;
        }
        div{
            h1{
                width: 100%;
                @include nomnop;
                // --------------------- LOGO
                .banner_logo{
                    z-index: 100;
                    width:190px;
                    margin: 25px 40px;
                }
                .banner_title{
                    display: none;
                }
            }

            // -------------------- MENU DE NAVIGATION
            .menu{
                display: flex;
                flex-direction: column;
                // ---- ANIMATION
                .animation-div{
                    &:hover .animation-span{
                        width: 3rem;
                        transform: translateX(-1rem);
                        &:nth-child(2){
                            width: 3rem;
                            transform: translateX(-1rem);
                        }
                        &:nth-child(3){
                            width: 3rem;
                            transform: translateX(-1rem);
                        }
                    }
                    a{
                        display: block;
                        margin: 40px 25px 0 0;
                        width: 50px;
                        height: 50px;
                        z-index: 25;
                        position: relative;
                        .animation-span{
                            transition-property: color, transform, position, width;
                            transition-duration: 0.5s;
                            transition-timing-function: ease-in-out;
                            display: block;
                            height: 0.5rem;
                            width: 2.5rem;
                            transform: translateX(0.5rem);
                            background-color: $bleu;
                            margin: 0.3rem;
                            position: absolute;
                            &:nth-child(2){
                                top: 1rem;
                                width: 2.8rem;
                                transform: translateX(0.2rem);
                            }
                            &:nth-child(3){
                                top:2rem;
                                width: 2rem;
                                transform: translateX(1rem);
                            }
                            &.crossbar{
                                background-color: $grismenu;
                                transform: rotate(45deg);
                                top: 1rem;
                                width: 3rem;
                                }
                            &.crossbar:nth-child(2){
                                display: none;
                            }    
                            &.crossbar:last-child{
                                transform: rotate(135deg);
                                
                            }
                        }
                    }
                }
                // ----- NAVIGATION
                .menu_nav{
                    color: $rosetxt;
                    @include nomnop;
                    background-color:rgba($bleu, 0.9);
                    z-index: 20;
                    width: 100vw;
                    height: 100vh;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    &.noscroll{
                        position: fixed;
                        top: 0;
                        left: 0;
                        height: 100vh;
                        width: 100vw;
                        z-index: 50;
                    }                    
                    &.hidden{
                        display: none;
                    }  
                    .menu_container{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        margin: 0 30px 30px 0;
                        .menu_element{
                            @include nomnop;
                            list-style-type: none;
                            margin-bottom: 20px;
                            a{
                                font-size: 1.5rem;
                                padding: 40px;
                                text-decoration: none;
                                color:$grismenu ;
                                font-family: 'Montserrat semibold';
                            }
                            &:last-child{
                                order: -1;
                                font-size: 1.5rem;
                                padding: 0 40px 20px 0;
                                text-decoration: none;
                                color:$grismenu ;
                                font-family: 'Montserrat semibold';
                                label{
                                    transition-duration: 0.5s;
                                    background-color: $bleu;
                                    width: 0;
                                    height: 0;
                                    display:none;
                                    transition-property: background-color, width, height, z-index;
                                    &.active{
                                        display: block;
                                        position: absolute;
                                        background-color: $rose;
                                        width: 100vw;
                                        height: 100vh;
                                        z-index: 200;
                                    }
                                }
                                input{
                                    transition-duration: 0.5s;
                                    display: none;
                                    transition-property: z-index;
                                    &.active{
                                        position: absolute;
                                        display: block;
                                        z-index: 200;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // -------------------- PRESENTAION
        .banner_title{
            color: $bleu;
            font-family: 'Montserrat light';
            font-size: 3rem;
            margin: 10px 20px 40px 30%;
            position: relative;
            padding-bottom: 10px;
            h2{
                margin: 10px 0 ;
            }
            .banner_title-month{
                font-family: 'Maven pro regular';
                font-size: 1.5rem;
                position: absolute;
                bottom: 0;
            }
        }
        .banner_description{
            display: none;
        }
        // -------------- BOUTON SCHEDULE
        div:last-of-type{
            display: flex;
            align-items: center;
            flex-direction: column;
            .banner_button{
                text-transform: uppercase;
                font-family: 'Montserrat semibold';
                background-color: $bleu;
                padding: 15px 50px;
                border-radius: 500px;
                @include bouton-neutre-ombre();
            }
        }
    }

    // -----------------      ACTIVITE         -------------------------
    main{
        display: flex;
        flex-direction: column;
        h2{
            color: $bleu;
            font-family: 'Montserrat semibold';
            text-transform: uppercase;
            font-size: 24px;
            text-align: center;
        }
    }
    .visits{
        @include nomnop;

        .visits_container{
            @include nomnop;

            .visit_element{
                @include nomnop;
                .visit_overview{
                    //background-color:$grisfond;
                    img{
                        display:none;
                    }
                    .visit_title{
                        color: $gristexte;
                        @include nomnop;
                        display: flex;
                        flex-direction: column;
                        font-family: 'Museo regular';
                        strong{
                            display: block;
                            @include nomnop;
                            font-family: 'Montserrat black';
                        }
                    }
                    .visit_location{
                        color: $bleu;
                        font-family: 'Montserrat medium';
                        @include nomnop;
                        margin-top:10px;
                    }
                }
                .visit_overview-description{
                    //display:none;
                    background-color: $grisfonce;
                    margin: 20px;
                    padding: 20px;
                    .visit_title{
                        color: $blanc;
                        @include nomnop;
                        display: flex;
                        flex-direction: column;
                        font-family: 'Museo regular';
                        strong{
                            display: block;
                            @include nomnop;
                            font-family: 'Montserrat black';
                        }
                    }
                    .visit_subtitle{
                        color:$jaune;
                        font-family: 'Montserrat medium';
                    }
                    .visit_description{
                        color: $blanc;
                        font-family: 'Montserrat medium';
                    }
                    div{
                        display:flex;
                        justify-content: space-between;
                        .fa-heart{
                            color: $jaune;
                        }
                        .fa-heart::after{
                            content:'|';
                            font-size: 2em;
                            color: $blanc;
                            margin: 0 150px;
                            
                        }
                        a{
                            text-decoration: none;
                            font-family:'Montserrat medium';
                            color: white;;
                        }
                    }
                    a{
                        display: float;
                    }
                    // un a dont l'attribut est "en savoir plus ..."
                }
            }
        }
    }

    // ------------------------   BOUTON TICKET
    .visits_ticket{
        text-decoration: none;
        @include bouton-neutre-ombre();
        font-family: 'Montserrat semibold';
        font-size: 1.2rem;
        background-color: $bleu;
        text-transform: uppercase;
        padding: 20px 40px;
        color: $grisfonce;
        border-radius: 3px 3px 0 0;
        margin-top: 20px;
        align-self: center;
    }

    // ------------------------  ENDPAGE
    .endpage{
        background-image: linear-gradient(0deg, rgba(40,51,59,0.7) 0%, rgba(40,51,59,0.7) 100%),url(src/images/fond-endapge-rochers-nuit-etoilee.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Montserrat regular';
        color: white;
        display: flex;
        flex-direction: column;

        // ---------------- BOUTON SUITE
        .endpage_buttons{
            background-color: $grisfonce;
            box-shadow: 0px 0px 14px 2px rgba(255,255,255,0.4);
            border-radius: 0 0 3px 3px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 182px;
            min-width: 182px;
            align-self: center;
            padding: 5px;
            max-height: 30px ;
            .endpage_is{
                display:flex;
                width: 60px;
                justify-content: space-around;
                align-items: center;
                .visa{
                    background-image: url(src/images/card.svg);
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    display: block;
                }
                .paypal{
                    background-image: url(src/images/paypal.svg);
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    display: block;
                }
            }
            p{
                color: $bleu;
                span{
                    color: white;
                    font-weight: bold;
                }
            }
        }
        // ------------------ FOOTER
        .endpage_grid{
            padding: 30px;
            display: flex;
            flex-direction: column;

            //---------------------------- IMAGE
            .endpage_overview{
                display: none;
            }

            //---------------------------- TEXTE
            .endpage_description{
                margin-bottom: 20px;
                h2{
                    font-size: 1.2rem;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    &::before{
                      content: "";
                      background-image: url(src/images/pin.svg);
                      background-size: contain;
                      display: block;
                      background-repeat: no-repeat;
                      margin-right: 30px; 
                      min-height: 20px;
                      min-width: 20px; 
                    }
                }
                &>p:first-child{
                    font-family: 'Museo regular';
                }
                p{
                    font-size: 0.75rem;
                }
            }

            //---------------------------- SUPPORT
            .endpage_support{
                margin-bottom: 20px;
                p{
                    font-size: .75rem;
                }
            }

            //---------------------------- RESEAUX
            .endpage_reseaux{
                order: 1;
                padding: 30px 30px;
                background-color: white;
                border-radius: 25px;
                display: flex;
                flex-direction: column;
                p{
                    font-family :'Montserrat semibold';
                    color: $bleu;
                    margin-bottom: 30px;
                    margin-top: 0;
                }
                a{
                    text-decoration: none;
                    color: $grisfonce;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 15px;
                }
                & a:first-of-type::before{
                    content:'';
                    background-image: url(src/images/slack.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: block;
                    height: 40px;
                    width: 40px;
                    margin-right: 20px;
                    color: $grisfonce;
                }
                .fa-twitter{
                    width: 30px;
                    height: 30px;
                    color: $grismenu;
                    font-size: 3rem;
                    margin-right: 30px;
                }
            }

            //---------------------------- STARTECH
            .endpage_logo-startech{
                margin: 30px;
                order: 1;
                align-self:center;
            }
        }

    }
}








// --------------------------        DEKSTOP       -----------------------------------------

@media screen and (min-width:800px){

    // ----------------- HEADER
    // ------- BANNER
    .banner{
        padding-top: 20px;
        @include bg-degrade();
        div:first-child{
            display: flex;
            justify-content: space-between;
            padding: 0 30px;
            align-items: center;
            h1{
                @include nomnop;
                .banner_logo{
                width:190px;
                margin: 25px 40px;
                @include nomnop;
                }
                .banner_title{
                    display: none;
                }
            }
            // ------------------- NAVIGATION
            .menu{
                .animation-span{
                    display: none;
                }
                .menu_nav{
                    .menu_container{
                        display: flex;
                        flex-direction: row;
                        .menu_element{
                            list-style: none;
                            margin-left: 15px;
                            a{
                                text-decoration: none;
                                color: $rosetxt;
                                font-family: 'Montserrat regular';
                            }
                            a::after{
                                content:'|';
                                color: $rosetxt;
                                margin-left: 20px ;
                            }
                        }
                    }
                }
            }
        }
        // -------------- DATES ET DESCRIPTION
        div:nth-child(2){
            width:800px;
            margin: 50px auto;
            padding-bottom: 30px;
            .banner_title{
                color: $bleu;
                font-family: 'Montserrat light';
                font-size: 3rem;
                position: relative;
                h2{
                    @include nomnop;
                    margin-top: 2.5rem;
                    .banner_title-month{ 
                        position: absolute;
                        top: 0;
                        font-size: 2.5rem;
                        font-family: 'Maven pro regular';
                    }
                }
            }
            .banner_description{
                font-family: 'Maven pro regular';
                color: $blanc;
                text-align: center;
            }
        }
        // -------------- BOUTON SCHEDULE
        div:last-of-type{
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            .banner_button{
                position: absolute;
                top: 200px;
                text-transform: uppercase;
                font-family: 'Montserrat semibold';
                background-color: $bleu;
                padding: 15px 50px;
                border-radius: 500px;
                @include bouton-neutre-ombre();
            }
        }
    }

    //------------------- CORPS DE PAGE
    main{
        width: 900px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        h2{
            color: $bleu;
            font-family: 'Montserrat semibold';
            text-transform: uppercase;
            font-size: 24px;
            padding-left: 15px;
            margin: 0;
        }
    }
    .visits{
        display: flex;
        flex-direction: column;
        align-items: center;
        .visits_container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 auto;
            padding: 0;
            .visit_element{
                list-style-type: none;
                width: 200px;
                height: 400px;
                background-color: $grisfond;
                margin: 10px;
                .visit_overview{
                    margin: 0;
                    max-width: 220px;
                    max-height: 4400px;
                    .visit_image{
                        max-width: 200px;
                    }
                    figcaption{
                        margin: 15px;
                        .visit_title{
                            font-family: 'Museo regular';
                            color: $gristexte;
                            font-size: 1.5rem;
                            margin: 0;
                            strong{
                                display: block;
                                font-family: 'Montserrat black';
                            }
                        }
                        .visit_location{
                            font-family:'Montserrat regular';
                            color: $bleu;
                        }
                    }
                }
                .visit_overview-description{
                    font-family: 'Montserrat regular';
                    background-color: $grisfonce;
                    padding: 20px;
                    color: white;
                    .visit_title{
                        font-family: 'Museo regular';
                        margin: 0;
                        font-size: 1.5rem;
                        strong{
                            display: block;
                            font-family: 'Montserrat semibold';
                        }
                    }
                    .ville_centre{
                        color: $jaune;
                    }
                    .ville_ext{
                        color: $rose;
                    }
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    // ------------------- BOUTON TICKETS
    .visits_ticket{
        text-decoration: none;
        font-family: 'Montserrat semibold';
        font-size: 1.2rem;
        background-color: $bleu;
        text-transform: uppercase;
        padding: 20px 40px;
        color: $grisfonce;
        border-radius: 3px 3px 0 0;
        @include bouton-neutre-ombre();
        margin: 20px 0 0 0;
        align-self: center;
    }

    // -------------------- ENDPAGE
    .endpage{
        background-image: linear-gradient(0deg, rgba(40,51,59,0.7) 0%, rgba(40,51,59,0.7) 100%), url(src/images/fond-endapge-rochers-nuit-etoilee.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Montserrat regular';
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // --------------------- RESTE DU BOUTON
        .endpage_buttons{
            background-color: $grisfonce;
            box-shadow: 0px 0px 14px 2px rgba(255,255,255,0.4);
            border-radius: 0 0 3px 3px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 182px;
            min-width: 182px;
            align-self: center;
            padding: 5px;
            margin-bottom: 20px;
            max-height: 30px;
            align-items: center;
            .endpage_is{
                display:flex;
                width: 60px;
                justify-content: space-around;
                align-items: center;
                .visa{
                    background-image: url(src/images/card.svg);
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    display: block;
                }
                .paypal{
                    background-image: url(src/images/paypal.svg);
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    display: block;
                }
            }
            p{
                color: $bleu;
                span{
                    color: white;
                    font-weight: bold;
                }
            }
        }

        // --------------- GRID FOOTER
        .endpage_grid{
            max-width: 1000px;
            display: grid;
            grid-template:  "presentation image image"
                            "reseaux support startech";
            .endpage_description{
                grid-area: presentation;
                max-width: 400px;
                font-size: 0.8rem;;
                margin-right: 30px;
                h2{
                    font-size: 1.2em;
                    display: flex;
                    &::after{
                      content: "";
                      background-image: url(src/images/pin.svg);
                      background-size: contain;
                      display: block;
                      background-repeat: no-repeat;
                      margin-left: 150px; 
                      min-height: 20px;
                      min-width: 20px; 
                    }
                }
                &>p:first-child{
                    font-family: 'Museo regular';
                }
            } 
            .endpage_overview{
                grid-area: image;
                max-width: 400px;
                align-self: center;
                box-shadow: 0px 0px 18px 2px rgba(255,255,255,0.4);
            }
            .endpage_reseaux{
                grid-area: reseaux;
                padding: 30px 30px;
                background-color: white;
                border-radius: 25px;
                align-self: flex-end;
                margin: 30px 30px 30px 0;
                max-width: 350px;
                p{
                    font-family: 'Montserrat semibold';
                    color: $bleu;
                    margin-bottom: 30px;
                    margin-top: 0;
                }
                
                a{
                    text-decoration: none;
                    color: $grisfonce;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 15px;
                }
                & a:first-of-type::before{
                    content:'';
                    background-image: url(src/images/slack.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: block;
                    height: 40px;
                    width: 40px;
                    margin-right: 20px;
                    color: $grisfonce;
                }
                .fa-twitter{
                    width: 30px;
                    height: 30px;
                    color: $grismenu;
                    font-size: 3rem;
                    margin-right: 30px;
                }
            }
            .endpage_support{
                grid-area: support;
                margin: 30px 0;
                align-self: flex-end;

                p{
                    font-size: .75rem;
                }
            }
            .endpage_logo-startech{
                grid-area:startech;
                margin: 30px 0;
                justify-self: flex-end;
                align-self:flex-end;
            }
        }
    }
}
